<div class = "tokushima-main" >
  
<h1>徳島県</h1>
<p>天気（Openweathermap）</p>
<p>寺ポイント</p>
<p>バス停・駅・空港→選んだら時刻表表示（予約連動）</p>
<p>道の駅・温泉・スーパー・コンビニ</p>

<p>モデルルート</p>

<p>寺名→選んだら寺の説明・周辺の名産、観光、グルメ、ホテル（予約連動）、イベント、お祭り</p>

</div>
