<div class="top-main">
  
  <h1>Routes88とは</h1>
  <p>お遍路をまわる人のための情報サイトです</p>
  <p>近況や情報を投稿し他のお遍路さんとコミュニケーションできます</p>
  <p>個人画面では進捗状況を管理したり日記がつけれます</p>
  
  <ul class="prefecture">
    <li>
      <%= link_to("徳島県", "/tokushima/index")  %>
    </li>
  </ul>

  <li>高知県</li>
  <li>愛媛県</li>
  <li>香川県</li>
  
 </div>